<h1>User::Events#index</h1>
<p>Find me in app/views/user/events/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.day %></td>
        <td><%= event.place %></td>
        <td><%= link_to 'Show', user_event_path(@user, event) %></td>
        <td><%= link_to 'Edit', edit_user_event_path(@user, event) %></td>
        <td><%= link_to 'Destroy', user_event_path(@user, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create New Event', new_user_event_path %>
