<%= stylesheet_link_tag 'events_participation', media: 'all', 'data-turbo-track': 'reload' %>

<div class="container_prarticipation">
  <h2 class="section-title">自分が参加できるイベントの選択画面</h2>
  <div class="event-list">
    <% @event.each do |e| %>
      <div class="event-card">
        <h3 class="event-name"><%= e.name %></h3>
        <%= link_to "詳細を見る", user_event_path(e), class: "event-link" %>
      </div>
    <% end %>
  </div>

  <h2 class="section-title">自分が作成したイベント</h2>
  <div class="event-list">
    <% @my_event.each do |e| %>
      <div class="event-card">
        <h3 class="event-name"><%= e.name %></h3>
        <%= link_to "詳細", user_event_path(e), class: "event-link" %>
      </div>
    <% end %>
  </div>
</div>
