<%= stylesheet_link_tag 'event_show', media: 'all', 'data-turbo-track': 'reload' %>
<div class="container">
  <div class="event-header">
    <h1 class="event-title"><%= @event.name %></h1>
    <p class="random-number">イベントID: <%= @event.random_number %></p>
  </div>

  <div class="event-details">
    <p>開催日時: <%= @event.day&.strftime("%Y年%m月%d日 %H:%M") %></p>
    <p>開催場所: <%= @event.place %></p>
    <p>募集バンド数: <%= @event.min_bans %>〜<%= @event.max_bans %>バンド</p>
    <% if @event.comment.present? %>
      <p>コメント: <%= @event.comment %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= link_to 'バンド募集ページ', new_user_event_band_path(@event), class: "btn btn-primary" %>
    <%= link_to '参加可能ページに戻る', user_events_participation_path, class: "btn btn-secondary" %>
  </div>

  <h2>自分が募集しているバンド</h2>
  <div class="band-requests">
    <% @my_bands.each do |band_request| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= band_request.name %></h5>
          <p>募集曲: <%= band_request.music_name %></p>
          <p>作成者: <%= band_request.user.name %></p>
          <p>担当楽器: <%= band_request.my_category&.name %></p>
          <p>募集楽器: <%= band_request.recruting_category&.name %></p>
          <p>募集人数: <%= band_request.count %>人</p>
          <% if band_request.comment.present? %>
            <p>コメント: <%= band_request.comment %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h2>募集バンド</h2>
  <div class="band-requests">
    <% @other_bands.each_with_index do |band_request, index| %>
      <%= link_to new_user_event_band_request_url(@event, band_request), class: 'card-link' do %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= band_request.name %></h5>
            <p>募集曲: <%= band_request.music_name %></p>
            <p>作成者: <%= band_request.user.name %></p>
            <p>担当楽器: <%= band_request.my_category&.name %></p>
            <p>募集楽器: <%= band_request.recruting_category&.name %></p>
            <p>募集人数: <%= band_request.count %>人</p>
           <p class="card-text status">
            <% remaining = band_request.count - @other_count[index] %>
            <% if remaining > 0 %>
                <span class="status-open">募集中 (残り: <%= remaining %>人)</span>
              <% elsif remaining == 0 %>
                <span class="status-full">募集人数に達しました</span>
            <% else %>
              <span class="status-over">募集人数を超過しています (超過: <%= remaining.abs %>人)</span>
            <% end %>
          </p>

            <% if band_request.comment.present? %>
              <p>コメント: <%= band_request.comment %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
